ol,ul {
	list-style: none;
}

#mainMenu {
	margin: 2px;
	width: 360px;
	font-family: sans-serif;
	font-size: 9px;
}

#mainMenu li {
	display:block;
	width:60px;
	height:15px;
	float:left;
	margin-left:1px;
	border:0px;
}

#mainMenu a {
	display:block;
	padding:0px;
	text-decoration:none;
	background-color:#002856;
	color:#fff;
}

#mainMenu a:hover {
	background-color:#fff;
	color:#002856;
}